#imagen{position:absolute;top:0;z-index:0;}
#image-presenter{margin: 0;padding:0;width: 100%;}
#image-to-share,#to-share{display:none;}
#map-canvas{height:1140px;top:0;}
#tomarFoto, #ubicar{margin:auto;width:50%;}
#tomarFoto, #ubicar, #waiting{position:relative;top:500px;}
#waiting{display:none;z-index:2;}
div[data-bb-type="activity-indicator"]{margin:auto;width:18px;}
@media screen and (min-aspect-ratio: 1/1){#tomarFoto, #ubicar, #waiting{margin:auto;top:250px;}}