/* BlackBerry Z10 */
#empty_map,#aboutApp{
	height: 1141px;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 768px;
}
#aboutApp{
	background: url("../assets/about_768x1280.png") center;
	opacity:0.9;
}
#empty_map{
	background: url("../assets/empty_state/tabMapa1280.png") center;
	opacity:0.9;
}
#mapa [data-bb-type ='round-panel']{
	margin: 0;
	padding: 0;
}
#map-canvas{
	height:1141px;
	top:0;
}
#panel{
	height: 1141px;
	padding: 0;
}
#tipoMapa{
	left: 65%;
	position: absolute;
	top: 88%;
}
#ubicar{
	margin:0 25%;
	position:absolute;
	top:75%;
	width:50%;
}
#waiting{
	display: none;
	margin: 0 44%;
	position:absolute;
	top:851px;
}
/* BlackBerry Q10 */
@media screen and (min-aspect-ratio: 1/1){
	#empty_map, #aboutApp{
		height: 612px;
		width: 721px;
	}
	#aboutApp{
		background: url("../assets/about_720x720.png") center;
		position: fixed;
	}
	#empty_map{
		background: url("../assets/empty_state/tabMapa720.png") center;
	}
	#panel{
		height: 612px;
		padding: 0;
	}
	#map-canvas{
		height:611px;
	}
	#tipoMapa{
		left: 65%;
		top: 78%;
	}
	#ubicar{
		top: 480px;
	}
	#waiting{
		top:468px;
	}
}